body,html{
    font-family: 'Raleway', Calibri, Arial, sans-serif;
    line-height:1.5;
    font-size:1.1em;
    padding:0;
    margin:0;
}
/*section------------------------------------------------------*/
section {
    height:600px;
    width:100%;
    margin:0 auto;
}
#banner{
   background-image:url(../img/laptop.jpg);
   background-size:cover;
   background-repeat:no-repeat;
   background-position: center;
}
#about{
    background-color:ghostwhite; 
}

#works{
    background-color:white; 
}
#contact{
    background-color:whitesmoke; 
    padding-top:100px;
    height:500px;
}
/* banner-----------------------------------------------------------------*/
.banner-text{
    position:relative;
    top:200px;
    width:80%;
    margin:0 auto;
}

.btn {
    padding:8px 35px;
    background:transparent;
    margin-right:20px;
    margin-top:10px;
    font-size:.85em;
}
.email-btn{
    border:1px solid crimson;
    color:crimson;
}
.email-btn a{
    color:crimson;
    padding:2px 0px;
}
.email-btn a:hover,
.email-btn a:focus {
    color:white;
}
.email-btn:hover,
.email-btn:focus,
.email-btn:active{
    border:none;
    color:white;
    background-color: crimson;
    transition: .2s ease all;
}
.works-btn{
    border:1px solid #0099FF;
    color:#0099FF;
}
.works-btn a{
    color:#0099FF;
    padding:2px 0px;
}
.works-btn a:hover,
.works-btn a:focus {
    color:white;
}
.works-btn:hover,
.works-btn:focus,
.works-btn:active{
    border:none;
    color:white;
    background-color:#0099FF;
    transition: .2s ease all;
}
/* top-nav ----------------------------------------------------------------*/
.top-nav{
    width:100%;
    margin:0 auto;
    height:80px;
    background:ghostwhite;
    position:fixed;
    top:40px;
    left:0;
}
#logo {
    position:absolute;
    top:20px;
    left:30px;
    color:#999;
    font-family: 'Pacifico', cursive;
    font-size:1.2em;
}

/* overlay menu---------------------------------------------------------------- */
.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 46px;
    width: 46px;
    z-index: 9999;
    background:transparent;
    overflow: hidden;
   
}
.menu.open {
    background:transparent;
    outline:0;
}
.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    outline:0;
}
.hamburger-icon {
    position: absolute;
    width: 30px;
    height: 24px;
    margin: auto;
    left: 10px;
    top: 10px;
   
}
.hamburger-bar {
    background-color:#999;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
}
.hamburger-bar-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.hamburger-bar-3 {
    bottom: 0;
}
.menu.open .hamburger-bar {
    background-color:#999;
}
.menu.open .hamburger-bar-1 {
    transform: translateY(12px) translateY(-50%) rotate(45deg);
}
.menu.open .hamburger-bar-2 {
    opacity: 0;
}
.menu.open .hamburger-bar-3 {
    transform: translateY(-12px) translateY(50%) rotate(-45deg);
}
.menu-overlay {
    background-color: #030110;
    color: #ffffff;
    height: 100%;
    width: 20%;
    /*need to set media quary width:100% for 420, 768; width:50% for 1024*/
    position: fixed;
    top:0;
    right:0;
    text-align: center;
    transition:0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.menu-overlay.open {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

/*overlay menu nav----------------------------------------------*/
nav {
    position: absolute;
    height: 80%;
    top: 60%;
    transform: translateY(-50%);
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 25px;
}
li {
    display: block;
    padding:5px;
    position: relative;
    opacity: 1;
    margin: 5px;
}
a {
    display: block;
    position: relative;
    outline:0;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    outline:0;
    padding:5px 10px;
}
a:hover, a:focus,  a:active {
    background-color:transparent;
    color: #0099FF;
    transition: 0.6s;
    outline:0;
    overflow: hidden;
}


/*about section---------------------------------------------------*/

.aboutme{
    width:50%;
    margin:0 auto;
    height:400px;
    padding:180px 30px;
    font-weight:500;
}
.center{
    text-align:center;
}

/* works---------------------------------------------------------------*/

.container {
    width:60%;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    height:450px;
    box-sizing:border-box;
}

.gallery-box{
    width:45%;
    margin:20px;
    height:400px;
    float:left;
    box-sizing:border-box;
    box-shadow:1px 1px 2px grey;
}

.first {
 background-image:url(../img/together.jpg);
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
}

.second {
    background-image:url(../img/food.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.second.gallery-overlay {
    background-color:rgba(0,0,0,.2);
}
.gallery-overlay{
    text-align:center;
    width:100%;
    height:400px;
    margin:0;
    padding:1px;
    background-color:rgba(0,0,0,.4);
    
}
.gallery-overlay a {
    text-align:center;
    position:relative;
    top:150px;
    font-size:1.1em;
    color:#fff;
}
.gallery-overlay a:hover,
.gallery-overlay a:focus,
.gallery-overlay a:visited{
  color:white;
  opacity:0.8;
}
.gallery-overlay button{
   padding:8px 35px; 
    position:relative;
    top:170px;
    background:transparent;
    border:1px solid white;
    color:white;
}



/* skill---------------------------------------------------------------*/

.skill-container {
    width:60%;
    padding:50px;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box;
    text-align:center;
}
.skill-container div {
    margin:10px;
}

#word{
font-size:1.2em;
font-weight:600;
}


/* contact---------------------------------------------------------------*/

.contact-container {
    width:100%;
    padding:100px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box;
    background-color:#333;
    text-align:center;
    color:whitesmoke;
}

.contact-container button:hover {
  color:white;
  opacity:0.8;
}
.contact-container button {
   padding:5px 20px; 
    background:transparent;
    border:1px solid white;
    color:white;
    margin:20px;
    font-size:.9em;
}

.contact-container a:hover,
.contact-container a:focus,
.contact-container :visited{
    color:white;
  opacity:0.8;
}